
:root {
    /* These will get overridden, but setting here to help the IDE interpreter. */
    --contentWidth: 1px;
    --svgHeight: 1px;
}

div,
body,
p,
h1,
h2,
h3,
h4 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Georgia";
}

body {
    overflow: scroll;
}

.content {
    padding: 0;
    margin: 2rem auto;
    font-size: 18px;

    max-width: calc(min(var(--contentWidth), 100%));

    display: flex;
    flex-direction: column;
}

.content-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-paragraph {

}

.bar {
    position: sticky;
    background: #85CE86;
    font-size: 20px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header {
    top: 0;
}

.navigation-element {
    padding: 0 0.8rem;
    background-size: auto;
    display: flex;
    align-items: center;
    align-self: stretch;
}

svg {
    height: var(--svgHeight);
    width: 100%;
}

a:hover {
    background: #744a94;
    cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active
{
    color: black;
    text-decoration: none;
}

.text-box {
    height: 36px;
    width: 180px;
    font-size: 18px;
    background: #e3d8ec;
    border: none;
    border-radius: 4px;
}
